<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Display</title>
</head>
<body>


<div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="start">
        <div class="my-auto">


            <a class="btn btn-primary" href="/addcontact" role="button">Start Building Your Resume</a>
            <a class="btn btn-primary" href="/buildcoverletter" role="button">Start Building Your Cover Letter</a>
        </div>
    </section>

    <section th:fragment="about" class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">
            <h1 th:each="user : ${contact}" class="mb-0">
                <span th:text="${user.firstName}">-</span>
                <span th:text="${user.lastName}"></span>
                <p th:text="${user.email}"></p>
                <!--<span class="text-primary">Taylor</span>-->
            </h1>

            <p class="mb-5" th:each="summary :${summary}">
                <span th:text="${summary.summarytext}"></span>
            </p>

        </div>
    </section>

    <section th:fragment="experience" class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
        <div class="my-auto">


            <div th:each="experience:${experiences}" class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0" th:text="${experience.jobTitle}">Senior Web Developer</h3>
                    <div class="subheading mb-3" th:text="${experience.company}">Intelitec Solutions</div>
                    <p th:text="${experience.dutyone}"></p>
                    <p th:text="${experience.dutytwo}"></p>
                    <p th:text="${experience.dutythree}"></p>
                </div>
                <div class="resume-date text-md-right">
                    <span th:inline="text" class="text-primary">[[${#dates.monthName(experience.startDate)}]] [[${#dates.year(experience.startDate)}]]-[[${experience.endDate}]]</span>
                </div>
            </div>

        </div>

    </section>

    <section th:fragment="education" class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
        <div class="my-auto">


            <div th:each="education:${educations}"class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0"  th:text="${education.school}">University of Colorado Boulder</h3>
                    <div class="subheading mb-3" th:text="${education.degreeType}">Bachelor of Science</div>
                    <div th:text="${education.degreeName}">Computer Science - Web Development Track</div>

                </div>
                <div class="resume-date text-md-right">
                    <span th:text="${#dates.year(education.gradYear)}" class="text-primary">August 2006 - May 2010</span>
                </div>
            </div>



        </div>
    </section>

    <section th:fragment="skill" class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
        <div class="my-auto">


            <ul th:each="skill : ${skills}"  class="fa-ul mb-0">
                <li th:inline="text">[[${skill.skillName}]]  [[${skill.rating}]]</li>
            </ul>
        </div>
    </section>



</div>
</body>
</html>