<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Build Cover letter</title>
</head>
<body>

<p>please enter your cover letter below </p>

<form action="/cover" method="post" th:object="${cover}">

    <input type="hidden" th:field="*{id}"/>

    <label for="du">Cover letter :</label>
    <textarea type="textarea" rows="20"cols="50" th:field="*{coverletter}" id="du" class="form-control" ></textarea>
    <span th:if="${#fields.hasErrors('coverletter')}" th:errors="*{coverletter}"></span> <br/>


    <input type="submit" value="Save">
</form>

</body>
</html>