<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
</head>
<body>

<div th:replace="fragments/template::resumenav">
</div>

<div class="container">
    <h1 class="text-center">Add Educational Achivements</h1>
    <div class="col-md-6 col-md-offset-3">

        <form th:action="@{/addeducation}" th:object="${education}" th:method="POST" class="form-group">
            <input type="hidden" th:field="*{id}"/>

            Degree Type: <input type="text" th:field="*{degreeType}" class="form-control"/>
            <span th:if="${#fields.hasErrors('degreeType')}" th:errors="*{degreeType}"></span> <br/>

            Degree Name: <input type="text" th:field="*{degreeName}" class="form-control"/>
            <span th:if="${#fields.hasErrors('degreeName')}" th:errors="*{degreeName}"></span> <br/>

            School: <input type="text" th:field="*{school}" class="form-control"/>
            <span th:if="${#fields.hasErrors('school')}" th:errors="*{school}"></span> <br/>

            Graduation Year: <input type="date" th:field="*{gradYear}" class="form-control"/>
            <span th:if="${#fields.hasErrors('gradYear')}" th:errors="*{gradYear}"></span> <br/>

            <input type="submit" value="Save"  class="btn btn-primary"/>
        </form>
    </div>





<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</div>
</body>
</html>