<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
</head>
<body>
<!-- Change the Navbar into a fragment, and make the class active depending on the variable passed -->

<div th:replace="fragments/template::resumenav">
</div>

<div class="container">
    <h1 class="text-center">Add Experiences</h1>
    <div class="col-md-6 col-md-offset-3">

        <form th:action="@{/addexperience}"  th:object="${experience}" th:method="POST" class="form-group">
            <input type="hidden" th:field="*{id}" />

            <label for="title">Job Title:</label>
            <input type="text" th:field="*{jobTitle}" id="title"  clas="form-control"/>
            <span th:if="${#fields.hasErrors('jobTitle')}" th:errors="*{jobTitle}"></span> <br/>


            <label for="com">Company:</label>
            <input type="text" id="com"  th:field="*{company}" class="form-control"/><br/>
            <span th:if="${#fields.hasErrors('company')}" th:errors="*{company}"></span>

            <br/> <label for="start">Start Date:</label>
            <input type="date" id="start"  th:field="*{startDate}" class="form-control"/>
            <span th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"></span> <br/>


            <br/> <label for="end">End Date: </label>
            <input type="text" id="end"  th:field="*{endDate}" class="form-control"/>
            <span th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"></span><br/>

            <label for="du">Duty one</label>
            <input type="text"  th:field="*{dutyone}" id="du" class="form-control" > </input>
            <span th:if="${#fields.hasErrors('dutyone')}" th:errors="*{dutyone}"></span> <br/>

            <label for="du">Duty two</label>
            <input type="text"  th:field="*{dutytwo}" id="du" class="form-control" > </input>
            <span th:if="${#fields.hasErrors('dutytwo')}" th:errors="*{dutytwo}"></span> <br/>


            <label for="du">Duty three</label>
            <input type="text"  th:field="*{dutythree}" id="du" class="form-control" > </input>
            <span th:if="${#fields.hasErrors('dutythree')}" th:errors="*{dutythree}"></span> <br/>


            <input type="submit" value="Save"  class="btn btn-primary"/>

        </form>

    </div>

    <a class="btn btn-primary" href="/buildresume" role="button">View Progress</a>


<!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</div>
</body>
</html>